In [1]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Japan_life_expectancy.csv")

In [4]:
data.head()

,Prefecture,Life_expectancy,Physician,Junior_col,University,Public_Hosp,Pshic_hosp,Beds_psic,Nurses,Avg_hours,...,Park,Forest,Income_per capita,Density_pop,Hospitals,Beds,Ambulances,Health_exp,Educ_exp,Welfare_exp
0,Aichi,84.65,224.4,13.6,23.7,13.7,0.5,164.3,845.4,171.5,...,17.2,42.1,3728.0,2517.7,3.8,758.7,3.7,2.06,21.41,16.53
1,Akita,83.79,242.6,11.3,11.9,34.0,1.7,404.6,1105.5,173.0,...,10.6,70.3,2697.0,296.8,5.2,1168.5,9.0,3.24,17.93,13.50
2,Aomori,82.80,212.5,11.4,11.8,42.9,1.4,348.7,1108.8,174.5,...,11.8,63.6,2507.0,380.5,6.2,1112.8,9.1,3.40,20.98,15.92
3,Chiba,84.48,205.8,14.7,24.9,16.1,0.5,195.8,749.1,173.5,...,5.5,30.1,3116.0,1778.4,4.1,806.2,4.2,3.53,25.44,18.24
4,Ehime,84.24,276.7,14.2,18.0,17.4,1.0,329.7,1277.5,178.0,...,7.2,70.5,2658.0,801.2,9.1,1274.2,7.1,4.82,20.47,15.60

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Prefecture         47 non-null     object
 1   Life_expectancy    47 non-null     float64
 2   Physician          47 non-null     float64
 3   Junior_col         47 non-null     float64
 4   University         47 non-null     float64
 5   Public_Hosp        47 non-null     float64
 6   Pshic_hosp         47 non-null     float64
 7   Beds_psic          47 non-null     float64
 8   Nurses             47 non-null     float64
 9   Avg_hours          47 non-null     float64
 10  Salary             47 non-null     float64
 11  Elementary_school  47 non-null     float64
 12  Sport_fac          47 non-null     float64
 13  Park               47 non-null     float64
 14  Forest             47 non-null     float64
 15  Income_per capita  47 non-null     float64
 16  Density_pop        47 non-null     float64
 17  Hospitals          47 non-null     float64
 18  Beds               47 non-null     float64
 19  Ambulances         47 non-null     float64
 20  Health_exp         47 non-null     float64
 21  Educ_exp           47 non-null     float64
 22  Welfare_exp        47 non-null     float64
dtypes: float64(22), object(1)
memory usage: 8.6+ KB